#header li {
  list-style-type: none;
}

#header li a {
  text-decoration: none;
  letter-spacing: 2%;
  font-size: 16px;
  font-style: normal;
}

#header li a:hover,
#header li a:focus,
#header li a:active {
  color: #404bbf;
}

.nav-menu li a {
  font-weight: 500;
  font-size: 16px;
  color: #2e2f42;
}

.contact-menu li a {
  font-weight: 400;
  color: #434455;
}
