.bg-deep-blue .moto {
  color: #ffffff;
  text-align: center;
}

button.order-btn {
  background-color: #4d5ae5;
  color: #ffffff;
  width: 159px;
  height: 56px;
  cursor: pointer;
  font-weight: 500;
  line-height: 1.3333;
  letter-spacing: 0.04em;
}

button.order-btn:hover,
button.order-btn:focus {
  background-color: #404bbf;
}
